* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rajdhani', sans-serif;
    margin: auto;
    overflow-x: hidden;
    width: 100%;
}

nav {
    
    padding: 1.5vw 0;
    background: rgba(255, 255, 255, 0.6);
}

p {
    color: #555;
    font-size: 18px;
}

a {
    color: #555;
    text-decoration: none;
}

/* Mobile menu */

.menu,
.submenu {
    list-style-type: none;
}

.title a {
    font-size: calc(1vw + 18px);
    font-weight: 400;
    font-family: 'Kaushan script', 'Georgia';
}



.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: calc(32% + 200px);
    max-width: 100%;
    margin: auto;
}

.toggle {
    order: 1;
    font-size: 24px;
}

.menu-item {
    font-size: 18px;
    font-weight: 600;
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}

.active .menu-item {
    display: block;
}

.menu li {
    padding: 20px 0;
}

.menu-item a {
    display: inline-block;
    margin: auto;
    padding: 5px 10px;
    border-bottom: solid 2px transparent;
    }

.logo {
    order: 3;
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
}

.logo-image {
    width: 30vw;
    max-width: 125px;
}

/* Submenu */
.submenu {
    display: none;
    
}

.submenu-active .submenu {
    display: block;
    background: #B52424;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: -20px;  
}

.has-submenu > a::after {
   font-family: "Font Awesome 5 Free";
   font-size: 12px;
   line-height: 12px;
   font-weight: 900;
   content: "\f078";
   color: #555;
   padding-left: 6px; 
}

.submenu-item a {
    color: white;
    border-bottom: solid 2px transparent;
}

.current-page {
    border-bottom: solid 2px #B52424 !important;
}

.current-subpage {
    border-bottom: solid 2px white !important;
}

/* Paralax */

h1 {
    font-family: 'fredericka the great', 'Georgia';
    font-size: calc(1.56 * (2vw + 15px));
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 5px #000;
}

h2 {
    font-family: 'fredericka the great', 'Georgia'; 
    font-size: calc(2vw + 15px);
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 5px #000;
}

.home #parallax {
    background-image: url("Images/IMG_1527_HI.jpg"), url("Images/IMG_1527_LO.jpg");
}

.events #parallax {
    background-image: url("Images/IMG_1330_HI.jpg"), url("Images/IMG_1330_LO.jpg");
}

.sessions #parallax {
    background-image: url("Images/IMG_7779_HI.jpg"), url("Images/IMG_7779_LO.jpg");
}

.contact #parallax {
    background-image: url("Images/IMG_1915_HI.jpg"), url("Images/IMG_1915_LO.jpg");

}

#parallax {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(32% + 200px);
    margin: auto;
    border-radius: 5px;
    background-size: cover;
    background-attachment: scroll;
    background-position-x: center; 
    color: white;
    height: 65vh;
    max-height: 600px;
}

#parallax a {
    color: #fff;
}

/* Mobile Images */

.images {
    border-radius: 5px;
    width: 100%;
}

/* Mobile Panels */

.panel-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 0;
    width: calc(32% + 200px);
    max-width: 100%;
    margin: auto;
}

.panels {
    text-align: center;
    padding: 15px 0;
    border-bottom: solid 2px transparent;
    border-top: solid 2px transparent;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    padding: 25px 0;
    color: #555;
}

.panels p {
    padding: 25px 0;
}

/* Mobile Segments */

.segment-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 0;
    width: calc(32% + 200px);
    max-width: 100%;
    margin: auto;
}

.wide-segment, .thin-segment {
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* Contact */

.contact-methods {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 35px;
}

.contact-text {
    width: 100%;
    padding: 10px 0;
}

.contact-methods h3 {
    padding: 0;
}

.contact-methods .fas {
    display:block;
    font-size: 32px;
    width: 100%;
    color: #555;
    padding: 10px 0;
}

/* Map */

#map {
    height: 85vh;
    border-radius: 5px;
}

/* Footer */

.footer {
    background-color: #B52424;
    height: 10vh;
}

@media all and (min-width: 650px) {

/* Desktop Menu */

    nav {
 
        background: none;
    }

    .menu {
        align-items: flex-start;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 5px;
        width: calc(50% + 360px);
        max-width: 100%;
    }

    .title {
        order: 0;
        width: 100%;
        text-align: center;
    }
    
    .left {
        order: 1;
    }

    .logo {
        order: 2;
        width: 22%;
    }

    .right {
        order: 3;
    }
    .menu-item {
        position: relative;
        display: block;
        width: 13%;
        margin: 40px 0;
        
    }

    .toggle {
        display: none;
    }

    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: calc(3.3vw - 90px);
        top: 50px;
        width: 230px;
        
    }

    .submenu li {
        padding: 15px 0;
    }

    /* Desktop Parallax */
    
    #parallax {
        width: calc(50% + 360px);
    }

    /* Desktop Panels */

    .panel-container {
        width: calc(50% + 360px);
        max-width: 100%;
        margin: auto;
        padding: 6vw 15px;
    }
    .panels {
        width: calc(20% + 50px);
        padding: 0;
        margin: 0;
    }

    .panels .images {
        width: 100%;
    }

    .panels h3 {
        height: 80px;
    }

    /* Desktop Contact */



    .contact-text {
        width: 250px;
    }

    .contact-methods .fas {
        width: 60px;
    }

    /* Desktop Map */

    #map {
        order: 2;
        height: auto;
    }

    /* Desktop Segments */

    .segment-container {
        width: calc(50% + 360px);
        max-width: 100%;
        margin: auto;
        padding: 2vw 15px;
        align-items: stretch;
    }

    .wide-segment {
        width: calc(75% - 130px);
        text-align: left;
        margin: 3vw 0;
        padding: 0;
    }

    .thin-segment {
        width: calc(25% + 110px);
        text-align: left;
        padding: 0;
        margin: 3vw 0;
        }

    .thin-segment .images {
        width: 100%;
        }

    .wide-segment h3 {
        padding-top: 0;
    }
    
    #segment-1 {
        order: 1;
    }
    #picture-1 {
        order: 2;
    }
    
    #picture-2 {
        order: 3;
    }
    #segment-2 {
        order: 4;
    }

}

@media (hover) {

    #parallax {
        background-attachment: fixed;
    }

    .menu-item a:not(.submenu-item a):hover,
    .menu-item a:hover::after,
    .title a:hover,
    .toggle a:hover,
    .contact-text a h3:hover,
    .contact-text a p:hover {
        color: #222;
        cursor: pointer;
        
    }

    .menu-item a:hover {
        border-bottom: solid 2px #B52424;
    }

    .panels:hover {
        border-bottom: solid 2px #B52424;
        border-top: solid 2px #B52424;
        color: #222;
    }

    .submenu-item a:hover {
        border-bottom: solid 2px white;
    }

}